@model IEnumerable<DOTNETCOREEXAMPLE.Models.Class_SLOT_MASTER>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<br />

<br />
<script></script>
<body>
    
            <div class="section-heading-page">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <h1 class="heading-page text-center-xs">@ViewBag.Title.</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb text-right text-center-xs">
                                <li>
                                    <a href="#">Slot</a>
                                </li>
                                <li class="active">Index</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
       

    <div class="section section-sm section-bottom">
        <div class="container">

            <table class="table">
                
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.SLOTNAME)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ISACTIVE)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.SLOTNAME)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ISACTIVE)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.SLOTID">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.SLOTID">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.SLOTID">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            </div>
        </div>
            <p>
                <a asp-action="Create">Create New</a>
            </p>
</body>